.color-fondo{
    background-color: gray;
}

.fondo {
    background-image:
    url(../img/hawaii.jpg);
    

}
 
.img-fluid {
    height: 800px;
    background-image: auto;
    max-width: 100%;
} 

.test{
    /* background-size: 100% 100%;
    background-image:
    url(../img/hawaii.jpg); */
}


.carta-estilo{
    border: none !important;
}


.texto-en-imagen {
    top: 40% !important;
    right: 5% !important;
    bottom: unset !important;
    left: unset !important;
    text-align: right !important ;
    width: 40% !important;
    position: absolute !important;
    transform: translate(0, -60%) !important;
}

.padding20{
    padding: 20px;
}


.imagen-fondo{
    height: 80% !important;
}

.titulo-conf{
    font-family: fantasy;
    font-size: 3em;
}


.p-conf{
    font-size: 1.5em;
}

.btn-conf{
    font-size: 2.5em;
}

.oradores-clase{
    display: flex;
    justify-content: center;
}

.oradores{
    width: 85% !important;
    margin: auto;
    padding: 10px;
    
}

.fondo-gris {
    background-color: #353a40 !important;

}

.borde-img{
    border-top: 1px solid blue;
    border-right: 3px solid white;
}

.borde-blanco-izquierdo{
    border-left: 2px solid white;
}

.texto-bsas{
    font-size: 1.15rem;
    line-height: 1.6 ;

}

.container-formulario{
    width: 50% !important;
}

.btn-enviar{
    background-color: rgb(8, 161, 8) !important;
    border: 0px !important;
}

.navbar
{
    height: 150px !important;
}

.collapse{
text-align: center !important;
}

.footer{
font-size: 1.3rem;
}