html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fcfcfc;
}

.final, .fork {
    width: 100%;
}

.destacado {
    display: block;
    padding: 10px;
    background-color: bisque;
    width: fit-content;
    margin: auto;
}

code {
    background-color: black;
    color: white;
    padding: 5px;
}